<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <meta charset="UTF-8"/>
        <title th:text="'Sistema Veterinaria ' + ${titulo}">Insert title here</title>
        <link rel="stylesheet"
              th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet"
              th:href="@{/css/jquery-ui.min.css}"/>

    </head>
    <body>

        <header th:fragment="header">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <a class="navbar-brand" th:href="@{/}" href="#">Veterinaria</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#about"
                               th:href="@{/cliente/listar}">Cliente
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#about"
                               th:href="@{/especie/form}">Especie
                            </a>
                        </li>
                    </ul>
                    <!--
                    <ul class="navbar-nav navbar-right">
                        <li>
                            <a class="btn btn-outline-primary" th:href="@{/login}">Sign In</a>
                        </li>

                    </ul> -->

                </div>
            </nav>

            <div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
            <div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
            <div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
            <div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>

        </header>



        <footer th:fragment="footer">
            <br/>
            <br/>
            <br/>
            <div class="container">
                <p>Developed by
                    <b>
                        <a href="https://www.gazu.cl">&copy;
                            <img th:src="@{/images/logo.png}" alt="Spring logo" height="15" width="15"/>
                            Gazu Labs
                        </a>
                    </b>
                </p>
                <p>Powered by Spring Boot y Thymeleaft</p>

            </div>
            <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
            <script th:src="@{/js/popper.min.js}"></script>
            <script th:src="@{/js/bootstrap.min.js}"></script>
            <script th:src="@{/js/jquery-ui.min.js}"></script>
        </footer>
    </body>
</html>